@import 'bootstrap';
@import 'fonts';

body {
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  font-family: 'Coda', 'Helvetica', 'Arial', sans-serif;
}

$intro-padding: 40px;

.intro {
  background-color: $black;
  color: lighten($brand-primary, 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: .7;
  padding: $intro-padding;
  position: absolute;

  span {
    display: inline-block;
  }

  h1 {
    border-bottom: 1px solid $yellow;
    font-size: 3rem;
    margin: 0;
  }

  * {
    text-align: center;
  }
}

.tagline {
  font-size: 1.2rem;
}

.contact {
  color: $white;

  a {
    color: inherit;
  }
}

a {
  text-decoration: none;
}

$window: 2000px;
$resolution: 250px;

@media (min-width: 0) and (max-width: $resolution - 1px ) {
  body {
    background-size: auto 100vh;
  }

  .intro {
    bottom: 0;
    left: 0;
    padding: 0;
    padding-top: 10px;
    right: 0;
    top: 0;
  }
}

$slices: $window / $resolution;
@for $i from 1 through $slices {
  @media (min-width: $i * $resolution ) and (max-width: ($i + 1) * $resolution - 1px ) {
    body {
      background-position: min(-1200px + $i * $resolution * .7, 0) 0;
      background-size: auto auto;
    }

    .intro {
      height: 150px + $i * $resolution / 7;
      left: 10px + $i * ($resolution / 10);
      padding: $intro-padding + $i * $resolution / 20;
      top: 10px + $i * $resolution / 15;
      width: 150px + $i * $resolution / 7;
    }
  }
}
